[2015-10-17 14:12] ShashankaNataraj opened #14 "Toggling windows doesnt show anything!"

[2015-10-17 14:52] Salakar commented on #14
Can you explain your issue please? If you mean the toggle to show Windows components then you should still see a window, there's just no more completed Windows comps yet, though I did push the start of a couple new ones today!

[2015-10-17 14:58] ShashankaNataraj commented on #14
Sorry if I wasn't clear, this is what I mean:

![bug](https://cloud.githubusercontent.com/assets/650317/10559388/76a92eb6-750d-11e5-9625-b4cf9450b9fa.png)

[2015-10-17 15:00] Salakar commented on #14
Ah ye, as above then :) still working on the windows components so there isn't any to show yet, there's a couple that are WIP (label, button, textfield etc), keep an eye out, they'll be there soon.

[2015-10-17 20:39] #14 closed

[2015-10-18 16:08] steelbrain opened #19 "Linux Support"
The docs and description only mentions windows 10 and OSX, why doesn't it work on linux? Both the electron and node-webkit work on it btw.

[2015-10-18 16:20] chentsulin commented on #19
I think this works great on linux now, but just don't have linux style components.

[2015-10-18 18:51] Salakar commented on #19
Aye it does work on linux, the description means only win 10 and OSX styled components are available, can still use the OSX or windows components on Linux.

[2015-10-18 23:44] gabrielbull commented on #19
@steelbrain Hi, do you mean it lacks a Linux UI? That is something that could be added in the future. Right now the focus is on OS X and Windows, but the library will work fine on Linux, you'll just end up with a UI that looks like OS X or Windows. I'm closing his now as it is not really an issue! Thanks!

[2015-10-18 23:44] #19 closed

[2015-10-19 00:18] steelbrain commented on #19
@gabrielbull If you're gonna add the linux UI in the future, then I think it's better to keep this open till then

[2015-10-19 00:20] gabrielbull commented on #19
Maybe, but this issue seems to indicate that the library does not work on Linux, which is false. Maybe you could create an issue to discuss the creation of a Linux UI.

[2015-10-19 00:21] steelbrain commented on #19
I would really appreciate if someone else would do it.

[2015-10-19 04:05] gutenye commented on #19
Yes, change the name to 'Native Linux UI style support' is better, why everybody exclude Linux at the first place? Native Linux UI is as important as Mac OS X and Windows!

[2015-10-19 10:22] Ehesp opened #24 "Handle 'alt' press on OS X"
Holding the alt key changes the green/full-window icon into a + icon.

[2015-10-19 15:34] mikew commented on #19
What is "Native Linux UI style" though? Qt? GTK? KDE? Wx?

[2015-10-19 15:51] Salakar commented on #19
@mikew +1 - there's so many variations.

[2015-10-20 14:57] dineshb-qa opened #27 "Documentation : For some of the links there is no text, only header and some redirect to '404'"
* Go to the URL = http://gabrielbull.github.io/react-desktop/docs/

* Observe that for following URL's there is only header and no other text. On page reload the header text also disappear :
 * http://gabrielbull.github.io/react-desktop/docs/Installation
 * http://gabrielbull.github.io/react-desktop/docs/advanced-usage/Electron-js
 * http://gabrielbull.github.io/react-desktop/docs/advanced-usage/n

[2015-10-20 18:35] gabrielbull opened #28 "Prevent double tab zoom by default"

[2015-10-20 19:10] gabrielbull opened #29 "Windows ProgressRing has a different offset on the first animation iteration"

[2015-10-20 20:15] #29 closed

[2015-10-20 20:15] gabrielbull opened #30 "Stop ProgressRing Animation when not being showed"

[2015-10-26 19:21] JDAKing commented on #24
Lcool

[2015-11-25 14:17] nsisodiya opened #47 "Support for Linux theme too !"
I see, it has Mac and Window theme. I wish somebody should make a pull for Linux Gnome theme too !

[2015-11-25 21:37] gabrielbull commented on #47
:+1:

[2015-12-19 00:23] junland commented on #47
+1

[2015-12-24 11:22] michaelb87 commented on #47
+1

[2016-01-10 14:55] yotamN commented on #47
+1

[2016-01-12 17:33] zalmoxisus opened #48 "No way to hide a `Form.Row` element"
There are [states](https://github.com/gabrielbull/react-desktop/blob/master/src/form/form.common/row/row.js#L47) responsible for that, but they're never changed. We cannot pass `display` style as well as [it is overwritten](https://github.com/gabrielbull/react-desktop/blob/master/src/form/form.common/row/row.js#L80).

I'll make a pull request to solve that when the refactoring is over, as for now

[2016-01-22 03:53] olunx commented on #47
+1

[2016-01-22 14:26] Wietsedv commented on #47
The difficulty with this idea is that there is no real Gnome (Linux) look. The Mac OS X and Windows 10 styles in this project are hardcoded, which is not desirable when trying to make a Gnome theme. Being a Gnome 3 user myself, I would gladly commit to this project in the future by writing a modern GTK3 theme if Gabrielbull agrees. This theme will only support Linux DE's that support GTK3 themes.

[2016-01-26 04:58] gabrielbull commented on #47
Hi @Wietsedv,

Thanks for chipping in.

Definitely wait until the project is at released, as I will be making some changes in the future that will break compatibility. I will keep you posted.

Cheers!

[2016-01-26 05:46] RoyTimes commented on #47
:+1:

[2016-03-28 06:50] stefanKuijers opened #49 "Documentation Status"
What is the current status of the documentation? I would really love to use this project in a electron app but I am new to electron and react and would really appreciate at least some kind of installation guide and a kitchen sink.

I assume that this is available somewhere but I can't find it now. Is this still coming or can someone point me to it?

[2016-03-29 17:11] gabrielbull commented on #49
Hi @stefanKuijers ,

This is still a work in progress and the most up to date documentation is available here: https://github.com/gabrielbull/react-desktop/tree/master/docs

The current state is that the Windows version is almost finished and the API should not change too much when using it. The Mac version is being refactored and once it is finished, I should be able to release a first stable ver

[2016-03-30 07:37] stefanKuijers commented on #49
Thank you so much. I will see or I can get it working.

[2016-03-30 07:37] #49 closed

[2016-03-31 19:37] Semigradsky opened #50 "Demo doesn't work"
After click "Forms" in Windows view:
- > Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `t`.

- > Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but g

[2016-04-04 17:00] alex-min opened #51 "Demo does not work well on Firefox"
Hi,

I've noticed the demo does not work well on Firefox, it's maybe due to the use of -webkit prefixes.

Regards,

[2016-05-03 08:35] limweb opened #52 "้how to build it ?"
How to build it ?

thanks.

[2016-05-03 08:42] #52 closed

[2016-05-04 18:39] gabrielbull commented on #24
Fixed in current version.

[2016-05-04 18:39] #24 closed

[2016-05-04 18:40] gabrielbull commented on #28
Not fixable in browser, only in electron.

[2016-05-04 18:40] #28 closed

[2016-05-04 18:40] gabrielbull commented on #30
Fixed

[2016-05-04 18:40] #30 closed

[2016-05-04 18:41] gabrielbull commented on #48
Forms have been removed for now.

[2016-05-04 18:41] #48 closed

[2016-05-04 18:43] gabrielbull opened #53 "Refactor the Split View Windows Component"

[2016-05-05 02:53] gabrielbull opened #54 "Add radio button to Windows components"

[2016-05-09 20:51] #53 closed

[2016-05-09 21:42] gabrielbull commented on #50
Thanks for reporting. It is now fixed!

[2016-05-09 21:42] #50 closed

[2016-05-16 15:35] #54 closed

[2016-05-16 15:35] gabrielbull commented on #27
Fixed. Thanks for reporting.

[2016-05-16 15:35] #27 closed

[2016-06-14 13:42] imaaronzhang opened #55 "npm install error"
Hi

Thank you! This is a great work. I wanted to have a try, but it happens  error when npm install.

npm ERR! peerinvalid The package react@15.1.0 does not satisfy its siblings' peerDependencies requirements!
.....
npm ERR! peerinvalid Peer material-ui@0.15.0 wants react@^15.0.0
npm ERR! peerinvalid Peer react-tap-event-plugin@1.0.0 wants react@^15.0.0-0
npm ERR! peerinvalid Peer react-desktop@0.

[2016-06-14 14:52] gabrielbull commented on #55
Hi, thanks for letting me know! I've just publish a new version that will accept react 15.1 as a peer dependency.

[2016-06-14 14:52] #55 closed

[2016-06-25 20:25] Manouchehri opened #57 "Electron Usage"
I noticed electron-js.md is still empty. Would someone mind linking me to a sample project that uses Electron with react-desktop?

[2016-06-25 20:27] Manouchehri commented on #57
I'm having a hard time Google'ing for a sample repository; Google doesn't respect the dash in "react-desktop".

[2016-06-29 11:11] lifeiscontent opened #58 "How can I build a 3 column layout similar to sketch?"
No where in the examples or demo do you show a multi-column layout

could you create an example I can learn from?

<img width="1392" alt="screen shot 2016-06-29 at 6 09 13 pm" src="https://cloud.githubusercontent.com/assets/180963/16449996/bc0a7b00-3e24-11e6-84e5-7bd92ed1b195.png">

[2016-07-11 15:53] Shahor commented on #57
I am considering using it for my project, but it's still at very early stages so I'll touch base again if I do :]

[2016-07-14 00:37] DaveRevay2 opened #59 "Error in Windows Title Bar docs"
Example code includes
[code]
This should be updated to match the API:
[code]

[2016-07-18 03:22] gabrielbull commented on #59
Hey, this has been fixed now, thanks for reporting!!

[2016-07-18 03:22] #59 closed

[2016-07-18 03:23] gabrielbull opened #60 "MacOS checkbox and radio buttons don't gray out when window is unfocused"

[2016-07-24 20:03] erichiller opened #61 "Typings / `d.ts` for typescript"
A request to be sure, and a much a appreciated and sought after one by myself at least. Probably others using typescript as well.

Great work, and I greatly appreciate it.

[2016-07-25 15:20] gabrielbull commented on #61
Hey @erichiller . Can you provide an example of typings for typescript that I could reference to?

[2016-07-25 19:21] zeke commented on #61
http://definitelytyped.org/

[2016-07-26 01:12] corysimmons opened #62 "These components aren't native right?"
Just double checking that these are CSS styled components and not actual native components.

[2016-07-26 01:40] gabrielbull commented on #62
No they're not native. They are meant for use with Electron or node-webkit.

[2016-07-26 01:40] #62 closed

[2016-07-26 03:45] corysimmons commented on #62
thanks

[2016-07-26 07:31] erichiller commented on #61
@gabrielbull - Sure thing, having never written typing before and wanting to try to get this going I assembled a few good docs:

# typings

[typings overview](https://github.com/typings/typings)

[typings installation](https://github.com/typings/typings/blob/master/docs/faq.md#where-do-the-type-definitions-install)

[DefinitelyTyped is a central typings repository](https://github.com/DefinitelyTyp

[2016-07-26 15:35] gabrielbull opened #63 "NavMenu does not work with TypeScript"
I separated the two issues. Reference: Issue #61

Did you get it to work? Your [example converted to ES6](https://gist.github.com/gabrielbull/baac43287c19f378f89be7a45e730828) works fine

[2016-07-26 20:58] erichiller commented on #63
No, unfortunately, I am still having the same issue. I am not sure on this one, is your gist from my typescript directly transpiled?

[2016-07-27 14:56] gabrielbull commented on #63
I transpiled by hand to ES6.

[2016-07-29 05:42] erichiller commented on #63
[Here I've done one I transpiled into commonjs - one into es6 -- they look proper and nearly the same](https://gist.github.com/erichiller/f603ff7ec1956324c5f1cdf67cc4e12a), but rather than maintaining the jsx syntax, it is replaced with the underlying javascript it would appear. (ala ` React.createElement( windows_1.NavPane,` for `<NavPane>`. I can not see anything off here?

[2016-08-01 21:44] erichiller commented on #63
I figured this out on my side - it was user error - I was using it improperly, however it did cause me to write a lot more definitions for typescript - I will get these to you soon. Thanks - Eric

[2016-08-08 13:55] gabrielbull commented on #63
Cool thanks!

[2016-08-08 13:55] #63 closed

[2016-08-17 02:55] xgenvn opened #64 "Integrate with electron-react-boilerplate style problem"
I'm trying to integrate react desktop components into a boilerplate by [electron-react-boilerplate](https://github.com/chentsulin/electron-react-boilerplate).
Already set the frame option to false, tweak the margin to zero, I got the overflow scrollbar:
![image](https://cloud.githubusercontent.com/assets/559443/17722779/6bf1ae40-6467-11e6-92fa-fe06c8faba22.png)

If I set the body style to overflow

[2016-08-17 04:40] gabrielbull commented on #64
Can you zip and share the boilerplate you made?

[2016-08-17 06:28] xgenvn commented on #64
This is just a basic boilerplate with some tweaks I mentioned above. Actually, the original repo suggests react-desktop for native looking, so I try to integrate into the sample project and there goes some UI issues.
[electron-react-boilerplate.zip](https://github.com/gabrielbull/react-desktop/files/421886/electron-react-boilerplate.zip)

[2016-08-17 13:31] gabrielbull commented on #64
Hi. I just released a new version containing a fix for your issue. Please update your react-desktop dependency to `0.2.12`. Thanks for reporting the issue, let me know if there are any more issues.

[2016-08-17 13:31] #64 closed

[2016-08-17 14:46] xgenvn commented on #64
Awesome! I have checked again and updated to last version, the issue is solved perfectly. Thank you.

[2016-08-23 14:28] erichiller opened #65 "Element to Render Window Component to for Styling entire Application"
In going through the samples, it is unclear what element I should render the window component to in order to style the entire application window. Currently my `BrowserWindow` is:

[code]

And my `Window` class is:

[code]

When using this code and rendering to the *body* tag, I yield:

![image](https://cloud.githubusercontent.com/assets/5379325/17895792/0e3ed9c6-6903-11e6-870c-b0ee46ccebd2.png)

M

[2016-08-24 15:02] gabrielbull commented on #65
You have two approches that works depending on what you want to do.

The first approach is to let Electron handle the chrome and titlebar of the window and just use react-desktop for the content inside that window. In this approach, you wouldn't need the `Window` component, like this:

[code]

The second approach is to use react-desktop for the window's chrome and titlebar. In this case, you need

[2016-08-24 15:02] #65 closed

[2016-08-26 19:54] YurySolovyov commented on #47
Maybe it's possible to come up with theme that is generic enough that it looks ok on most popular DEs and provide some customization points so apps using it can tweak a bit to better match app style.
Thoughts?

[2016-08-29 13:03] luayalshawi opened #67 "How to use refs to access TextInput value"
Hi,

I am having a problem accessing the TextInput value. I have tried to use onChange then from there I set the state but that caused a weird behavior.

Is there a way to use ref with TextInput and be able to use it to access the input value?

[code]

by doing console.log(this.refs.input.value), I get undefined.

I am trying to use the input value based on click event that is coming from a button

[2016-08-31 14:42] luayalshawi commented on #67
[code]
Currently I am getting the value by having id as a prop then I can use the following line to get the input value:
`document.getElementById('thisInput').getElementsByTagName('input')[0].value)
`

[2016-08-31 16:30] gabrielbull commented on #67
Hi @luayalshawi. Thanks for reporting the issue. I will take a look when I have some more time. In the meantime, check out the [React documentation for inputs](https://facebook.github.io/react/docs/forms.html), it could give you some clues on an alternative to refs. Like this example:

[code]

[2016-09-06 19:01] erichiller commented on #65
@gabrielbull Thanks! I did end up getting it running - the issue I'm having now is that `this` within the component is _undefined_ or null.

`window.tsx:43 Uncaught TypeError: Cannot read property 'setState' of null`

**typescript source**
[code]

compiled javascript:
[code]

Does your javascript look the same as well?

[2016-09-06 19:09] gabrielbull commented on #65
Yeah, this would be expected. You can declare your functions using the arrow function declaration or provide the this context to the callbacks.

Using arrow functions syntax on the functions:

[code]

Using arrow functions on the callbacks:

[code]

[2016-09-10 13:56] csterritt commented on #47
@YurySolovyov I'd recommend against it -- Java tried this with Swing, and it was pretty much a disaster.  Not that apps didn't look good, they just looked... weird... non-native.  It was more of a PR disaster as a technical one.

On the other hand, Material Design has come out as a "platform-independent" design language, and it's doing pretty well, perhaps because it's Google behind it.

So maybe

[2016-09-10 14:03] YurySolovyov commented on #47
@csterritt I like the idea, MD indeed fits into

[2016-09-18 19:36] steamIngenius opened #68 "Windows TextInput onChange triggers dupe action"
Every time a user types a character in the TextInput the onChange callback fires twice and the input loses focus. If I use the TextInput from 'react-desktop/macOs' instead everything works fine. My code:

        <TextInput
          value={serverField}
          width="200"
          label="Server"
          theme="dark"
          onChange={e => setServerField(e.target.value)} />

[2016-09-19 12:15] gabrielbull commented on #68
Hey @steamIngenius, thanks for reporting the issue. I've published a new version with a fix for the duplicate onChange events. You need to update react-desktop to `0.2.14`. Cheers!

[2016-09-19 12:15] #68 closed

[2016-09-19 16:24] steamIngenius commented on #68
Thanks for your quick attention to this!

[2016-09-22 06:51] fa7ad opened #69 "Feature Request: Dropdown Select menus"
An implementation could look like:
- https://github.com/fraserxu/react-dropdown
- https://github.com/JedWatson/react-select

But, I'd prefer to have "native" feel to those like the components in this package :smile:

[2016-10-06 00:42] dotcarls opened #70 "Window background prop broken for Windows components"
Looks like the code for the background color has been commented out of [this file](https://github.com/gabrielbull/react-desktop/blob/master/src/window/windows/window.js):

[code]

Docs should be updated or this should be uncommented :)

[2016-10-06 01:37] gabrielbull commented on #70
@dotcarls Thanks for reporting. I'll investigate this tomorrow.

[2016-10-10 16:59] stdavis opened #71 "Conditional Module Loading"
I've noticed that the components in this project seem to mirror each other between macOS and windows. I assume that this is to enable developers to write the same code for both platforms? What's the suggested way of conditionally loading the correct component based upon the current platform? I don't think that something like this is supported:

[code]

Imports have to be top level statements.

I'v

[2016-10-10 18:19] obedm503 commented on #71
maybe because you forgot the `$` in the template string?

[code]

not sure tho

[2016-10-10 18:25] stdavis commented on #71
Good catch. I'm still getting used to template strings and have updated my code. However, it didn't make any difference. :(

[2016-11-06 22:29] obedm503 opened #73 "library agnostic?"
are there plans to make react-desktop library agnostic/independent?
 It would be great if there was a "web components version" that could be used without any framework or library. **A "native" implementation would open it to a much larger market.** I could be used with angular, ember, aurelia, polymer, and even vanilla js, all within Electron.

If not does anyone know of any non-framework-specific

[2016-11-22 14:09] decaller opened #74 "Windows Input lost focus with onChange"
Hello there, I'm using react-desktop on electron with react-redux boilerplate...
I got a problem when using TextInput with windows theme, the onChange method always update di wrapper "data-reactdeskropid". It make the form lost focus.
I tried using the basic html input, and it works fine.
Is this a bug? Or are there ways to stop update the wrapper?

[2016-11-22 15:42] gabrielbull commented on #74
Hi, can you post a sample of code to reproduce the problem?

[2016-11-28 19:59] geoffdutton commented on #57
I've started using it for this Electron project: [DesktopLftp](https://github.com/geoffdutton/desktop-lftp)

It works quite well. I'm happy to answer any specifics as best I can.

[2016-12-05 04:00] drew-wallace opened #76 "defaultIsPaneExpanded not working when false"
"react": "15.4.1",
"react-dom": "15.4.1",
"react-desktop": "0.2.14"

Here's the code I used:

[code]

[2016-12-05 04:12] drew-wallace commented on #76
Nevermind. I missed something.

[2016-12-05 04:12] #76 closed

[2016-12-23 15:46] minexew commented on #47
+1 react-desktop on macOS already feels non-native and uncanny, so it shouldn't be that big of an issue on Gnome

[2016-12-30 07:19] jaloo555 commented on #68
Issue still seems to occur with react-desktop/windows?
my code
<TextInput
                        theme='light'
                        color='#cc7f29'
                        label="label"
                        type="text"
                        value={this.state.id}
                        onChange={this.handleIDChange}
                      />

[2017-01-02 20:11] spmcbride1201 opened #77 "Unable to style label generated by TextInput"
Firstly, thanks so much for you work on this! I'm quite enthused to have such an easy experience building a Windows 10 themed Electron app.

My issue is that when my app is using the the dark theme, I can't style the labels associated with the <TextInput/> components. Based on your code examples, I was expecting the default behavior of these labels to be that they dynamically determine the color b

[2017-01-04 02:55] spmcbride1201 commented on #74
I'm not sure if this was resolved, but I'm currently hitting the same issue. Quite possibly user error. I'm experiencing the issue with all of my TextInputs, but I've snipped just one below to try to be concise. When I look at the Elements tab in devtools, it looks like all of the <TextInput>s are being redrawn when onChange is triggered on any single <TextInput>.

## Container
[code]

## Componen

[2017-01-04 03:08] spmcbride1201 opened #78 "Padding prop not having an impact on the W10 NavPaneItem"
When working with NavPane and NavPaneItems, I noticed that the icons were offset from the hamburger button by quite a bit. In DevTools, it appears that the parent <span> for the NavPaneItem had padding of 16px on the left and the right.

In the documentation, I noticed that the padding prop, I was unable to use this to reduce the padding issue above.

My current hack to get things to line up invol

[2017-01-09 15:21] gabrielbull commented on #77
Hi, thanks for submitting the issue. The label should now change color based on theme for version 0.2.16. On top of that, you now have the ability to specify a color using the `labelColor` property and overwrite any label style using the `labelStyle` property. All info can be found in the docs. Cheers and happy new year!

[2017-01-09 15:21] #77 closed

[2017-01-09 15:24] gabrielbull commented on #73
Hi @obedm503, while having it be library agnostic would be great, it would pivot too much from the goal of this one library and require too much change. Hope you find what you are looking for.

[2017-01-09 15:24] #73 closed

[2017-01-09 17:46] denen99 commented on #57
@geoffdutton how do you conditionally include macOS vs Windows components ?  I noticed you are including the macOS ones, but what happens when you build for windows?

[2017-01-09 17:47] denen99 commented on #71
@stdavis did you ever solve this ? Curious as well.

[2017-01-09 19:01] stdavis commented on #71
Nope. Let me know if you find anything.

[2017-01-09 19:23] #60 closed

[2017-01-09 19:24] gabrielbull commented on #67
You can now use ref to get value from input. Thanks for submitting the issue 🎉!

[2017-01-09 19:24] #67 closed

[2017-01-09 19:24] gabrielbull commented on #70
@dotcarls sorry for the delay, the issue has now been resolved. Thanks for reporting! 🎉

[2017-01-09 19:24] #70 closed

[2017-01-09 19:25] gabrielbull commented on #71
You can now import components based on the current OS like so:

[code]

[2017-01-09 19:25] #71 closed

[2017-01-09 21:25] obedm503 commented on #71
so does `'react-desktop'` decicide what to import or does it import both versions of the module for us to decide?

[2017-01-09 21:26] gabrielbull commented on #71
It decides what to import. If you want to decide you can import using `react-desktop/macOs` or `react-desktop/windows`

[2017-01-13 06:25] luayalshawi commented on #67
Thanks

[2017-01-15 15:24] fa7ad commented on #69
*bump*?! :worried:

[2017-01-17 14:31] levrik opened #79 "[Windows] Minimize icon is not correct"
For comparsion:
![image](https://cloud.githubusercontent.com/assets/9491603/22024300/d31c66b6-dcc9-11e6-9a62-663836b5533f.png) React Desktop
![image](https://cloud.githubusercontent.com/assets/9491603/22024307/d97b1322-dcc9-11e6-9ac6-be9d22d6aec5.png) Native Windows 10

[2017-01-20 02:30] spmcbride1201 opened #80 "[Windows] MasterDetailView width prop does not resize containing div"
Setting <MasterDetailsViewItemMaster width="100px"> does not adjust the width of the parent div.
![image](https://cloud.githubusercontent.com/assets/8700322/22133431/261f4f16-de8e-11e6-8889-5f637e2e0c8a.png)

This results in the following. I was expecting the <MasterDetailsViewItemDetails> components to have extra space on the page after shrinking Master.

![image](https://cloud.githubusercontent.

[2017-01-20 02:34] spmcbride1201 opened #81 "[Windows] MasterDetailsViewItemMaster spans vertically off by one"
I noticed that each span actually corresponds with the label of the span immediately below. So clicking the empty span is actually JOB00104, clicking JOB00104 is actually JOB00280, etc.

![image](https://cloud.githubusercontent.com/assets/8700322/22133550/ddd6da5c-de8e-11e6-8a3f-de1f9a931955.png)

[2017-01-20 03:24] spmcbride1201 commented on #81
After experimenting a bit more, the behavior happens when the height shrinks to try to fit all of the items on screen. When the height isn't compressed to fit in an area without overflowing, it is working fine.

[2017-01-25 15:30] dwyschka opened #82 "Access Child State from MasterDetailsViewItemMaster"
How can i access the "selected" state from the child if i follow the example with the renderItem - method?

[2017-03-28 10:40] danmo opened #84 "Win10 NavPaneItem title"
![image](https://cloud.githubusercontent.com/assets/3957234/24400119/ebf35b02-13b7-11e7-81c3-2556248e4e63.png)
Hi,

Seems like the NavPaneItem doesn't allow hiding the top title in any way.

[2017-03-28 12:44] danmo opened #85 "IE Support"
Hi, is there any way to get react-desktop working in IE ?

[2017-03-28 19:41] gabrielbull commented on #85
Currently, only Chrome is supported as this was build for Electron/NWJS but it would be nice to have support for all browser since all it requires is to make the CSS compatible.

There is already an issue open for this: Cross browser compatibility #51

Please feel free to contribute to the project if you have any time available.

[2017-03-28 19:41] #85 closed

[2017-05-21 09:26] jamrizzi commented on #19
I've been wanting to build a gtk react bridge for quite some time. Wondering if you'd be interested in me making it part of this project?

[2017-05-21 09:29] jamrizzi opened #86 "This is not native"
Am I correct that this is not a native application? Where's the bridge code?

[2017-05-21 20:54] gabrielbull commented on #86
It is not, it is for electron and nwjs to create native looking applications.

[2017-05-21 20:54] #86 closed

[2017-05-21 20:58] gabrielbull commented on #19
@jamrizzi Please email me at me@gabrielbull.com to discuss collaboration. Thanks!

[2017-05-25 15:26] Andrew1431 commented on #82
I hope you figured it out in the 5 months it's been since you asked, but if not, just use state to determine the selected box / use refs to reference the react components.

[2017-06-14 19:14] arolson101 opened #87 "update radium to fix react 15 propTypes warning"
react-desktop depends on radium@0.18.4 which uses React.PropTypes, which has been split into a separate package.  It's since been updated (not sure which version, but 0.19.1 is the latest) but since react-desktop uses it I get this warning.

Could you do an update?

[2017-06-14 20:39] gabrielbull commented on #87
Done ! 🎉

[2017-06-14 20:39] #87 closed

[2017-06-23 00:04] necolas commented on #51
You may want to consider building this library on top of `react-native-web` in the future. You'd get an API more consistent with React Native and most of the building blocks for free, including decent cross-browser support.

[2017-06-27 02:38] nokisnojok opened #88 "it does work. titleBar for windows 10"
you can see  my github，
https://github.com/nokisnojok/electron-react-desktop-tools
git clone it， npm  install & npm run webpack & npm start

[2017-07-01 14:39] reinhart1010 opened #89 "Include Alternative Fonts: Arimo, Liberation Sans, Nimbus Sans L and Selawik"
This is originally suggested as a workaround for Bug #43, where the devs may use either macOS or Windows styles to make some Linux webapps.
To prevent default Linux font to be used, which may cause metric problems in user interface, I would suggest to include some alternative fonts which are most likely to be available in Linux distros (except Arimo and Selawik, which is available in Google Fonts

[2017-07-26 08:50] codekidX opened #90 "[Windows] Checkbox, defaultChecked issue?"
Hi, I have successfully integrated other components into my electron app and it's working great, Thank you.

I think there is some issue with defaultChecked property of checkbox in Windows. Is it of type string ? [as mentioned in docs](http://reactdesktop.js.org/docs/windows/checkbox)

I checked the [source](https://github.com/gabrielbull/react-desktop/blob/master/src/checkbox/windows/checkbox.js#

[2017-07-31 20:49] tofoli commented on #47
+1

[2017-08-02 18:40] gabrielbull commented on #84
Yes, everything is open for PR :)

[2017-08-23 01:36] IDrinkMoreWater opened #91 "Failed prop type: Invalid prop `title` of type `object` supplied to `TitleBar`, expected `string`."
i need to implement ：
[code]

but  the 'title'  props must be **string**.

[2017-08-23 18:52] marcinkurek opened #92 "Classic Windows look"
Hi,

Is there any interest in having react-desktop support the classic Windows look, known from Win32, Windows Forms and WPF?

If so, I am interested in contributing, as it wouldn't make sense for me to roll my own, when this project is *perfect* for it.

[2017-08-23 21:47] AndrewKralovec commented on #92
@marcinkurek , Everything is open for PR

[2017-08-23 23:21] marcinkurek commented on #92
Thanks. Just wanted to confirm before I spend time on it.

[2017-09-13 04:40] panpetedextra opened #93 "Issue when use TextInput inside Window"
Hi,

my render function look like this
[code]
When enter value to both TextInput and swap to another tap (in my case using Chrome just hit F12 for developer tools). The input under **Window** will change to blank while the input outside **Window** still has its value.

[2017-09-18 13:59] okonet opened #94 "No public methods for interactive elements"
Native elements like `<input>` has public methods like `focus` and `blur` that allow programmatically enable specific behaviors. This library doesn't provide such API and makes it impossible to change the state of elements without user interaction.

Use case: https://github.com/perrin4869/react-focus-onkeydown

[2017-10-02 15:21] gabrielbull commented on #94
Please submit a PR and we will accept it.

[2017-10-02 15:21] gabrielbull commented on #93
Please submit a PR and we will accept it.

[2017-10-02 15:22] gabrielbull commented on #91
Please submit a PR and we will accept it.

[2017-10-02 15:22] gabrielbull commented on #90
Please submit a PR and we will accept it.

[2017-10-06 07:36] okonet opened #96 "Switch tests to Jest"
I believe this will make contributions to this project easier. Recently I created a PR and wanted to add some tests but noticed that there are no tests for any interactions yet so I would need to make a choice of a mocking framework (Sinon?) but ideally I'd just jump into writing tests. Jest comes as a feature-reach testing framework that has everything needed to test React components bundled (sna

[2017-10-06 07:39] okonet opened #97 "Use react-styleguidist to automate documentation generation"
[react-styleguidist](https://react-styleguidist.js.org) is a styleguide generator for React components that I've been contributing and using for [react-dropzone](https://react-dropzone.js.org) successfully. It automatically generates documentation based on propTypes so there is no need to keep those readme's in sync with code.

It's customizable enough to make it fit any needs but even the default

[2017-10-18 02:05] #94 closed

[2017-10-18 02:11] gabrielbull commented on #96
Hi okonet, yes I would be open to switching to Jest. When I first created this project, I had not used Jest, but since then, I have and think it would be a good idea as well. Bring on the PR. Would you like to be part of this project as a maintainer, I am looking for help since my time is very limited?

[2017-10-18 02:13] gabrielbull commented on #97
Hi okonet. I am open to switching to react-styleguidist as an alternative to generating documentation by hand. Let me know if you want to take on this milestone.

[2017-10-18 02:41] gabrielbull commented on #79
Sorry for the late reply, but if someone is willing to submit a PR, I'd be happy to accept it.

[2017-10-18 02:50] gabrielbull commented on #80
Sorry for the late reply, but if someone is willing to submit a PR, I'd be happy to accept it.

[2017-10-18 02:50] gabrielbull commented on #81
Sorry for the late reply, but if someone is willing to submit a PR, I'd be happy to accept it.

[2017-10-18 02:51] #82 closed

[2017-10-18 02:51] #88 closed

[2017-10-18 02:51] gabrielbull commented on #89
Sorry for the late reply, but if someone is willing to submit a PR, I'd be happy to accept it.

[2017-10-18 02:52] #91 closed

[2017-10-18 06:47] reinhart1010 commented on #89
In addition, here's what the font stack might be
# Based on similarity with Arial and Helvetica (good for using macOS application styles)

   font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, Roboto, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;

Based on http://www.grputland.com/2013/11/multiplatfo

[2017-10-28 22:56] async3619 opened #100 "windows TitleBar component expects `object` type not `string` type as title."
windows TitleBar component expects `object` type not `string` type as title even if the doc page says `title` prop type is `string`.

the code is:
[code]

then console prints:
[code]

https://github.com/gabrielbull/react-desktop/blob/master/src/titleBar/windows/titleBar.js#L21
check this out please :)

[2017-11-06 22:10] okonet commented on #96
Hey @gabrielbull! I'll try to do my best but maintaining one more project is off the table since I'm also fighting for me free time now.

[2017-11-06 22:11] okonet commented on #96
By saying that I mean I wouldn't not take over it but I could be involved in some discussions. So up to you if you want to invite me as a contributor or not :)

[2017-11-06 22:14] gabrielbull commented on #96
Invited you, so now its your responsibility 🏃‍♂️ (runs away). J/K but any help is welcome at this point.

[2017-11-22 00:07] alefnula opened #102 "TypeError: this.input.focus is not a function"
This is the simplest app that produces this error (generated using `create-react-app`):

[code]

When I click the button I get:

[code]

Although I see that it's implemented: https://github.com/gabrielbull/react-desktop/blob/master/src/textInput/macOs/textInput.js#L146

[2017-11-28 19:10] ChannelJuanNews opened #103 "How to use custom colors?"
Is there a color property you can set on the components to make things a little more custom? Where in the code can I set different colors?

[2017-12-21 15:51] turshija opened #105 "Custom TitleBar background for Mac"
I'm trying to make dark app, but can't seem to change TitleBar color to get effect like this:
![image](https://user-images.githubusercontent.com/933433/34263212-01089f54-e66f-11e7-8b17-582a16e35ca7.png)

I've tried using "transparent" prop, but with no success.

[2017-12-21 19:17] gabrielbull commented on #105
Please submit a PR and we will be glad to accept it. Thanks.

[2018-01-02 06:37] bedeho opened #106 "Resize button on mac titlebar looks weird"
As you can see here, the resize button looks distorted and broken.

![screen shot 2018-01-02 at 07 34 14](https://user-images.githubusercontent.com/437292/34476275-9d5a2764-ef8f-11e7-8cf8-bb445bcc6bed.png)

Importantly, this only happens when I view this on an external monitor attached to my macbook, when I view it on my macbook, it looks fine. Any idea about why this would happen?

[2018-01-05 16:37] gabrielbull commented on #106
Is one retina and the other one not? Anyway, if you should take a look and submit a PR that would be appreciated!

[2018-01-06 11:32] bedeho commented on #106
Yes, that is correct. I also tried looking at it on a separate computer with another screen, and it gives a similar bad quality result.

I have tried to look into the component, but it was very complicated to figure out.

[2018-01-11 08:12] TimoSolo opened #107 "File Browser (icons)"
Hi! I want to create a filebrowser type app with electron.js (basically a git client). Has anyone made an osx / windows looking file grid, or know where to get one?

If others need it I will build it and add to the repo.

[2018-01-11 18:16] gabrielbull commented on #107
Hi @TimoSolo . If you want to contribute new components you are very welcome to do so. Please note that currently this library uses radium for styling components but we are planning to move away from it, so newer components should use something else. styled-components seems like a good choice but it is still open for debate.

[2018-01-20 13:17] rjforty opened #109 "Button color"
I tried changing the button color, but it won't change to any other color apart from blue

[2018-01-20 15:50] gabrielbull commented on #109
Only blue is supported so far. PR is welcome. Thanks.

[2018-01-20 18:41] rjforty commented on #109
Okay:)

[2018-01-30 18:24] gabrielbull opened #111 "Capitalize file names for components (window.js -> Window.js)"

[2018-01-30 18:24] gabrielbull opened #112 "Switch from radium to styled-components"
~~What are the pros and cons of those three solutions?~~

~~Which one is the most adapted for a component library?~~

~~The new library should allow for extending proposed in #113~~

Switch react-desktop from radium to styled-components. Can be done progressively.

Need to provide multiple ways for the user to extend the style of a component, including className property, style property, etc.

[2018-01-30 18:33] gabrielbull opened #113 "Refactor common component attributes to be more consistent (I.E. marginTop, etc)"

[2018-01-31 11:33] yordis commented on #112
Between those,

Definitely styled-components.

Emotion is fine as well but you will no have the same support and some missing features compare to styled-components.

SASS, to be honest, I have almost a year without touching anything outside of JSCSS and unless I have to jump to something outside of React I will keep using styled-components or any other implementation of JSCSS

[2018-01-31 15:40] #111 closed

[2018-01-31 21:22] alacroix commented on #112
I used `styled-components` for about 9 months now, I'm pretty convinced of the utility of CSS-in-JS. Writing pure SASS makes us lose a huge amount of flexibility.

When you say "missing features" about `emotion` @yordis, do you have more details? All I can find on different issues is that both are pretty much the same, with `emotion` being more smaller and faster.

[2018-01-31 21:26] gabrielbull commented on #112
Seems like everyone is on-board with styled-components. As for styled-components vs emotion, if they are on par, I think it would be wiser to use styled-components as it has a much bigger user base, with 13 462 stars on Github vs 2 822 for emotion.

[2018-01-31 21:27] yordis commented on #112
@alacroix https://github.com/emotion-js/emotion/issues/113#issuecomment-334955156

[2018-01-31 21:31] yordis commented on #112
@gabrielbull also the version `3.1` is much faster than before https://twitter.com/mxstbr/status/957905553044463621

[2018-01-31 21:32] alacroix commented on #112
Let's go for `styled-components` then 👍

[2018-01-31 22:02] alacroix opened #115 ":active class lost for Button component"
Hey @gabrielbull,

I was trying to implement `styled-components` on the Button component but I wasn't able to get the active effect on the playground.

I suspect the update of Radium to version ^0.21.2 on [this commit](b6cc2a6) to be the culprit.

If I reset to the old version, it works again. I didn't test on other components but I suspect every `:active` and other Radium style to be broken right

[2018-02-01 14:08] alacroix commented on #113
@gabrielbull something like [styled-system](https://github.com/jxnblk/styled-system) should fit our needs? Seems pretty cool to use with `styled-components`. (Never used it before though)

[2018-02-07 13:35] gabrielbull commented on #113
Looks like something we might try indeed. Keeping the dependency count low is also very important so  if it's something simple we might want to implement our own solution. If we do not use styled-system, we should inspire ourselves from styled-system so people coming to this library who have used it will find it familiar, and vice-versa.

[2018-02-07 13:38] gabrielbull commented on #115
Ok, I reverted radium back to "=0.19.6" on the master branch. Can you publish a branch with your changes so I can play around as well? Maybe call it styled-components. Thanks!

[2018-02-11 16:54] alacroix commented on #115
@gabrielbull, sure! I'm on `jest` right now but when I'll resume my work on `styled-components`, i'll push what i've done 👍

[2018-02-11 16:55] alacroix commented on #115
Fixed with 15c92fba7765a0a8077d6990d43a985da4ae5738

[2018-02-11 16:55] #115 closed

[2018-02-12 09:06] sosunnyproject opened #116 "customize font-size for Windows/Text"
Hello,
I cannot find a way to customize font-size of windows Text element.

I imported like below,
`import { Text } from 'react-desktop/windows';`
and wrote my code like this
[code]

I tried fontSize, font-size, size ... but couldn't find a way to edit it.
Would you please let me know what's the variable name I can customize font size?

Thanks!

[2018-02-12 13:48] 98oktay commented on #116
Hi,
try this:

`<Text horizontalAlignment= 'center' color= 'white' style={{fontSize:'20px'}}>Photo</Text>`

[2018-02-13 09:00] sosunnyproject commented on #116
Yes this works! Thank you!

[2018-02-13 09:00] #116 closed

[2018-02-20 12:34] DeforeChen opened #117 "how to change to a new line by using "Text" component"
I just want to use the "Text" cmp as a log printer while it could not change to a new line. How to fix it?

[2018-03-29 05:03] aprilmintacpineda opened #119 "Is this native or hybrid?"

[2018-03-29 05:08] aprilmintacpineda commented on #119
I found my answer at https://github.com/gabrielbull/react-desktop/issues/86

[2018-03-29 05:08] #119 closed

[2018-03-30 21:19] ChannelJuanNews commented on #103
+1 anyone? lol

[2018-04-03 03:02] #79 closed

[2018-04-05 20:58] YudiTan opened #121 "Does not match corresponding path with next.js"
I installed react-desktop via npm and then copied one of the code-blocks to test it out in my next.js application but I came across this error:

Error in react-desktop/macOs
Module not found: Error: [CaseSensitivePathsPlugin] `/Users/yuditan/projects/personal_website/node_modules/react-desktop/src/Box/macOs/index.js` does not match the corresponding path on disk `box`.
ModuleNotFoundError: Module

[2018-04-06 03:07] gabrielbull commented on #121
Does that file exists?

`/Users/yuditan/projects/personal_website/node_modules/react-desktop/src/Box/macOs/index.js`

[2018-04-06 04:07] YudiTan commented on #121
Yup! It exists. These are the steps to recreate this error:
1) Start a new empty npm project with npm init, then "npm install --save react react-dom next react-desktop"
2) Since i'm using next.js, i created a "pages" folder and have an "index.js" in that folder for the main "/" route. Then, I copied the example code from http://reactdesktop.js.org/docs/mac-os/window and this error is shown. I can

[2018-04-06 04:13] YudiTan commented on #121
So i created a brand new CRA and replaced App.js with the same codeblock from the website and the same error is shown "./node_modules/react-desktop/macOs.js
Module not found: `/Users/yuditan/projects/personal_website/test/testapp/node_modules/react-desktop/src/Box/macOs/index.js` does not match the corresponding path on disk `box`."

[2018-04-06 04:26] YudiTan commented on #121
Figured out -- the issue is with case sensitivity. For instance, i modified all the "require" statements in macOs.js such that the file paths (specifically, the folder names) match exactly to those in /src. For instance, instead of "var _macOs = require("./src/Box/macOs");" , by changing it to "var _macOs = require("./src/box/macOs");", fixes this error. However, there are simply too many instance

[2018-04-06 12:30] gabrielbull commented on #121
Can you try the new version, 0.3.5?

[2018-04-06 20:06] YudiTan commented on #121
0.3.5 fixed the case sensitivity issues but there are some more bugs i found -- 1) i had to manually go to src/TitleBar/macOs/Controls and change the codes from "window && window.devicePixelRatio > 1.5" to "this.window && this.window.devicePixelRatio > 1.5" in order to resolve the new issues. Similarly for minimize.js and resize.js.

Once those issues were resolved, the components finally rendered

[2018-04-21 02:05] zjuwjf opened #122 "Did react-desktop supported canvas ?"
Did react-desktop supported canvas ?

[2018-05-02 03:12] gabrielbull commented on #122
Can you elaborate, I do not understand the question.

[2018-05-02 03:15] gabrielbull commented on #121
If you still experience the second issue, please open a separate issue for it. Thanks.

[2018-05-02 03:15] #121 closed

[2018-05-02 03:15] gabrielbull commented on #117
You could pass `style={{ display: 'block' }}` to it or wrap it in a View/div element.

[2018-05-02 03:15] #117 closed

[2018-07-02 23:52] ArtGangsta commented on #47
The angst you have with regard "what looks like Linux" is self-imposed.    If you Google search "Linux desktop" images, you'll get a lot of Ubuntu -- It's recognizable.   That's what you make the theme look like.  End of story.

Anyone wants something different -- it's an open source project.  They can create their own.

[2018-08-09 08:35] 173954105 opened #127 "Why not use in Electron"
My code:
`import { Button } from 'react-desktop/macOs';
ReactDOM.render(
    (<Button color="blue" onClick={() => console.log('Clicked!')}>
        Press me!
    </Button>),
    document.getElementById('test')
);`

error:
`Uncaught Error: Element ref was specified as a string (element) but no owner was set. This could happen for one of the following reasons:
1. You may be adding a ref to a functio

[2018-08-09 22:52] davej commented on #127
I could not reproduce this. Please provide a reproducible repository or CodeSandbox. Closing until repro is available.

[2018-08-09 22:52] #127 closed

[2018-09-17 23:48] hullabaloon opened #128 "Can't Set Checkbox State With setState by Reading from User Preference"
There are two check boxes. I want to set defaultChecked value to values coming from ipcMain (saved user preference) but even the state is true, it's always in unchecked position. Checked the state in render function, it logs true but I can't set them.

I am reading from the default values saved in json (with electron-settings package) There are two of them one is true one is false. No matter what

[2018-10-04 22:58] 1oginov opened #129 "Development Experience concerns"
Hi guys!

I found this project very interesting in the long term, however and may be I'm wrong, but it seems that it's hard to on board to contribute into this projects since it's not clear what is an input and output of each UI component. For example both themes have it's own component realization that's why you need tests for each of them. Also it's hard to switch from one theme to another depen

[2018-10-20 00:49] bakhaa commented on #112
I can help with `styled-components`.

[2018-10-20 14:08] davej commented on #112
Happy to review and merge PRs if anyone wants to make a start.

[2018-11-21 17:45] tgds commented on #74
Hi @gabrielbull, the background helper in the render function is the problem. On each call it creates BackgroundElement class, and then returns ` <BackgroundElement/>;`. Because of that, on each value prop change, a new component is created and rendered => input element is completely redrawn and looses focus. styleHelper is doing the same thing and this is all very expensive and needs to be rewrit

[2018-11-21 17:46] gabrielbull commented on #74
@tgds Thanks for digging deeper in this issue. I am no longer involved in this library and at the moment, no one really is. If you want, I can add you as a maintainer and you can fix this issue. Let me know. Thanks.

[2018-12-13 11:35] 593434311 opened #132 "My Procedure Error Reporting"
Failed to compile.

./node_modules/react-desktop/src/Box/macOs/index.js
SyntaxError: E:\git\github\gilfoyle\node_modules\react-desktop\src\Box\macOs\index.js: Support for the experimental syntax 'decorators-legacy' isn't currently enabled (13:1):

  11 | import Text from '../../Text/macOs';
  12 |

     | ^
  14 | @Margin()
  15 | @Padding()
  16 | @Alignment()

[2019-01-27 14:38] haivp3010 opened #133 "[macOS] Undo not working properly with pin"
**Current behavior**

(as observed in the demo page http://reactdesktop.js.org/docs/mac-os/pin)
- When performing undo on previous input, the previous box is cleared but the cursor is still kept at the current box.
![image](https://user-images.githubusercontent.com/7151454/51802252-af111e80-227a-11e9-85a1-fd042870c33e.png)

- Undoing backspace is not working i.e. the deleted number is not restored

[2019-01-30 17:23] gabrielbull commented on #133
@haivp3010 You can submit a PR if you'd like this behavior to change

[2019-01-31 18:50] davej opened #135 "macOS titlebar 'inset' property does not match up with mac spec"
My understading is that an 'inset' titlebar should inset from the top as well as from the left. @gabrielbull: I can make a PR to fix this if you like?

Current | Proposed
--- | ---
![image](https://user-images.githubusercontent.com/26971/52077402-d7ee2800-2588-11e9-9940-4545f343d204.png) | ![image](https://user-images.githubusercontent.com/26971/52077358-bc831d00-2588-11e9-854f-2fd83d1bd752.png)

[2019-02-12 13:22] holgersindbaek opened #137 "macOS Mojave and dark mode"
It seems like this is the only Electron Native UI library still being maintained. Is there any plans on updating the project to make the UI look completely like macOS Mojave? Is there any plan to support Mojave's dark theme feature?

[2019-02-12 14:04] davej commented on #137
No plans AFAIK.
PRs are accepted though if it's something that you wanted to work on.

[2019-02-12 14:28] holgersindbaek commented on #137
Ok. I might do something. Thanks for the quick answer.

[2019-02-12 14:28] #137 closed

[2019-02-20 12:16] davej opened #139 "Replace Radium"
I'm trying to cut down the bundle size for an app I'm using that relies on react-desktop. Radium plus its dep `inline-style-prefixer` are quite large. They are responsible for 125k stat, 55k parsed and 13k GZipped.

I might look into replacing Radium with something trimmer in the future, this issue is just a reminder to me.

[2019-02-20 12:17] davej commented on #135
Fixed in #136.

[2019-02-20 12:17] #135 closed

[2019-02-23 14:36] AndrewKralovec commented on #109
I can take this one.
Originally i was going to implement our color logic from the windows button. However, apple is very particle about their colors schemes. So instead I'm thinking we create a map of the of the avilable colors options found here , [Colors](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/).

@gabrielbull , are we basing the masOS colors off a

[2019-02-23 15:45] AndrewKralovec commented on #128
Yeah,
I see that defaultChecked is passed in as a prop, but then it is read into check in the Checkbox state.
So that value is really just for initialization.

[code]

[2019-02-23 17:26] AndrewKralovec commented on #103
@ChannelJuanNews , is there a specific component you are having problems changing the color to?

Example of coloring an button:

[code]

[2019-02-23 17:34] AndrewKralovec commented on #112
As mentioned into [issue-129](https://github.com/gabrielbull/react-desktop/issues/129) , lets keep mind theming for the two operating systems.

https://www.styled-components.com/docs/advanced

[2019-02-23 18:19] AndrewKralovec commented on #78
I have to determine the cause, but just posting what i have seen thus far before i sign off for the day

The span style is defined here:
`src\components\clone\NavPane\windows\Pane\style\windows10.js
`
The padding is defined in NavItem props and passed to Title using the StyleRoot.
This is where the span is, but as we can see the props are not being passed.
We could just pass the padding as another

[2019-03-07 07:57] MohoiNad opened #140 "ERROR in ./index.js (./playground/examplesLoader.js!./index.js) 2:8"
You may need an appropriate loader to handle this file type.
| let data = {};

| data['\examples\macOs\advanced\pinDialog'] = \examples\macOs\advanced\pinDialog;
| import \examples\macOs\components\box from '.\examples\macOs\components\box';
 @ ./playground/playground.js 21:30-65
 @ ./playground/index.js
 @ multi (webpack)-dev-server/client?http://localhost:3001 ./playground/index.js

Child html-w

[2019-03-09 10:10] langyo opened #141 "There's something wrong with the title bar."
#65
I have used it for my electron application, but there is something wrong.

## 1. Window border doesn't render properly in electron.
If I set the width and height of the props window to match the width and height of the electron window, the window will not display completely.
![25c5cc.png](https://miao.su/images/2019/03/09/25c5cc.png)
Here's the creation code for the electron window:
[code]
And

[2019-03-09 12:36] langyo commented on #141
If you need, I can help maintain the project, and I'll fix it myself.
@gabrielbull

[2019-03-09 17:41] davej commented on #141
Hi @langyo, I'm happy to review and merge a PR for you?

[2019-03-09 23:29] langyo commented on #141
Yep, thanks!
I'll remind you when I send PR.

[2019-04-22 07:55] abhay29121994 commented on #74
hiii . i also face this problem .when i type one character then focus lost what i do ?
[UsernameForm.txt](https://github.com/gabrielbull/react-desktop/files/3102656/UsernameForm.txt)

[2019-05-21 23:22] AbsolofDarkness opened #142 "Unexpected Token (5:22)"
I am not understanding why this is happening. I have copied the code over, and still get this.

[2019-05-22 04:25] davej commented on #142
Can you please provide steps to reproduce.

[2019-05-30 21:16] jeffvandyke commented on #122
(mb close to clean up issues board?)

This library uses React components that style HTML buttons and inputs (etc...), and you should be able to use canvas along with react-desktop - it will function like a normal canvas.

[2019-05-31 06:34] davej commented on #122
@jeffvandyke Thanks

[2019-05-31 06:34] #122 closed

[2019-05-31 06:35] davej commented on #141
@langyo A reminder on this if you have the chance. :-)

[2019-05-31 06:36] davej commented on #142
Closing because there's no detail to reproduce.

[2019-05-31 06:36] #142 closed

[2019-05-31 06:37] davej commented on #139
Closing because dupe of #112

[2019-05-31 06:37] #139 closed

[2019-05-31 14:15] langyo commented on #141
I've been too busy in the last three months. Maybe I can make time to repair it in July.

:P

[2019-06-29 11:02] Jamie0 commented on #51
Are there any current plans to support cross-browser compatibility? I can think of quite a few use cases where it is important to support non-Chromium browsers.

[2019-06-29 14:01] davej commented on #51
Hey @Jamie0, I'm super happy to give feedback on and ultimately merge a pull request that would fix this, if you're interested? I think it's unlikely that any of the current maintainers would work on this if we don't have a direct need for it in our current projects.

[2019-06-29 14:03] davej commented on #140
Can't reproduce. Closing for the moment. If you can provide a reproducible example then I'll reopen.

[2019-06-29 14:03] #140 closed

[2019-06-29 14:08] davej commented on #105
@turshija: You can achieve this by setting `transparent` and `inset` properties:

[code]

Closing this issue

[2019-06-29 14:08] #105 closed

[2019-07-29 18:08] langyo commented on #141
#143

[2019-07-29 18:08] #141 closed

[2019-08-27 15:14] JayenLee opened #144 "Not Found - GET https://registry.npmjs.org/@types%2freact-desktop - Not found"
Not Found - GET https://registry.npmjs.org/@types%2freact-desktop - Not found

[2019-08-27 15:14] JayenLee commented on #144
npm install @types/react-desktop --save-dev

[2019-09-11 11:28] pixelass commented on #112
I this suggestion still under consideration?

Since I'm currently building an OS X component library with styled-components (supporting light & dark mode) I might be open to contribute.

[2019-09-11 11:32] davej commented on #112
@pixelass Yes, I would be happy to review any contributions.

[2019-09-11 11:45] pixelass commented on #112
Right now I'm building things from scratch but I'll look into this library and see if I can at least add a DRAFT for some new components.

[2019-09-17 06:39] codinggirl commented on #144
Use `npm i react-desktop` instead.

[2019-11-03 20:19] kowsheek commented on #129
@gabrielbull I'd be interested in actively contributing and maintaining the project since I'm working on a rather involved Electron application where we'll be using react-desktop.

[2019-11-12 04:54] ken30huang opened #146 "Is react-desltop support webview tag?"
Is react-desltop support webview tag?

I want to do some thing , like I click a button and then open a website in my desktop app（without iframe tag），some thing like a browser.

I can't find any infomation in document page.

[2019-11-12 18:45] lacymorrow commented on #146
React desktop is a set of web-based components that visually look like desktop components.

Is your desktop app already built on a framework like Electron? What is the reason you want to avoid an iframe?

[Nextron](https://github.com/saltyshiomix/nextron) or any electron-based app should have the ability to create an Electron webview.

[2019-11-19 09:18] chjiyun opened #147 "Too few components"
Too few components，this can't meet the needs of work

[2019-11-19 09:25] davej commented on #147
Closed. This is an open source library. Feel free to work on more components and PR them if you feel they are needed.

[2019-11-19 09:25] #147 closed

[2019-12-24 05:18] hadnet commented on #137
Any update on this?

[2020-01-03 20:13] #58 closed

[2020-01-24 14:13] inunotaisho26 commented on #61
@gabrielbull Are you alright with having someone join in this project? I am trying to build a massive app for desktop and this project appears to be an absolute necessity for my work.

I also prefer to use TypeScript in all of my projects. Catchers bug before they enter the browser, so I'd love to help move this along.

[2020-04-21 08:19] liangshen001 opened #149 "Two properties of the Box component are invalid"
The two attributes of the horizontalAlignment verticalAlignment are invalid in the box

I know that the display property needs to be flex,Why is it designed this way?

Thank you in advance!!!

[2020-04-30 18:19] sebsoftpak opened #150 "Add CSS classes"

[2020-04-30 18:27] #150 closed

[2020-05-01 14:21] Taymindis opened #151 "Show datatable?"
Can ReactDesktop Show datatable like

MacOS -> Numbers ?

Windows -> Excel?

[2020-12-14 14:48] awasthishubh opened #153 "A string ref, "xxx", has been found within a strict mode tree."
While using almost any components of react-desktop, I can see a lot of ` A string ref, "xxx", has been found within a strict mode tree.` kinds of errors.

Is there a way to fix this or what particular version of the react should I be using?

<img width="586" alt="Screenshot 2020-12-14 at 20 16 57" src="https://user-images.githubusercontent.com/31537546/102095321-67cdb000-3e49-11eb-97a0-0dfd52d35a9

[2021-01-02 19:19] JuanuMusic commented on #61
Same here. Typescript is becoming more used and having @types for it would be great. I'm not sure how to create type def for an existing library, but would love to help out.

[2021-03-01 18:16] roniel-rhack commented on #153
I can help, assign me this issue

[2021-03-04 11:13] Noudea opened #154 "How to change color/backgroundColor of TitleBar macOs"
Hello how to change color/backgroundColor and also text of the TitleBar from macOs. thx

[code]

[2021-03-09 09:19] #154 closed

[2021-05-25 21:46] RodPaDev opened #159 "Is it possible to inject custom styling?"
I was wondering whether injecting custom styling was possible? I would like to add a transition for the text colors of the title bar & remove the background color altogether, let tailwind handle that.

For now, my only workaround for the title bar is `rgba(0,0,0,0.1)` which gives the background 10% of opacity.

Could really use a transition, I tried adding the tailwind class but the transition doe

[2021-06-02 17:27] #159 closed

[2021-06-25 17:02] paulsancer opened #160 "Windows 11 upgrade?"
It would be so cool to have a new Windows 11 looking version of react desktop since it looks so much better.

https://www.youtube.com/watch?v=WucfckO0q48

I just wanted to know your thoughts and if there is any plans on this. I would be happy to help a little when I have some free time.

[2021-06-27 01:31] MassMessage opened #161 "How do I get the window and title bar to use that old look and feel?"
I mean this one:

![image](https://user-images.githubusercontent.com/11813549/123530185-0c209100-d6ce-11eb-8251-f7b24750dce0.png)

instead of this one, used in WPF, etc:

![image](https://user-images.githubusercontent.com/11813549/123530195-22c6e800-d6ce-11eb-9ecb-8560a0f85695.png)

How do I make my application to use the first one?

[2021-12-27 14:02] andrejilderda commented on #160
Hi @paulsancer, I've been in touch with @gabrielbull and am currently working on a new version of this library that follows the Windows 11 design guidelines: https://github.com/andrejilderda/react-desktop

It's very much a work in progress, but if you're willing to help, let me know!

[2022-01-18 16:45] Lermatroid opened #162 "Is there a way to align the controls on the windows titlebar to the right instead of the left?"
Question is more or less in the title. This is an option with the macOS one so I was wondering if it was possible to do so with the windows one.

[2022-02-15 08:01] CoderableOfficial opened #163 "I want to be a collaborator"
make me a collaborator so i can help

[2022-02-16 05:27] CoderableOfficial opened #164 "Use Vercel To Deploy"
Hey @gabrielbull  i was wondering if we can use vercel to deploy the website as it provides us free ssl certificate. And I Was Wondering If We Could Use A .tech domain like https://reactdesktop.tech

[2022-02-16 08:57] CoderableOfficial commented on #102
Hey Thank You For Sharing The Issue. We Will Reach Out To You Soon. And Sorry For The Delay.

[2022-02-16 09:01] CoderableOfficial commented on #153
Assigned You The Issue

[2022-02-16 09:02] CoderableOfficial commented on #151
This Issue Is Now Closed

[2022-02-16 09:02] #151 closed

[2022-02-16 15:05] gabrielbull commented on #164
Yeah I am open to it.

[2022-02-23 02:00] CoderableOfficial commented on #164
Ok

[2022-03-04 18:29] MassMessage commented on #153
Have you fixed the issue? i'm stuck and cannot use the <Window> component due to this error. A temporaty fix, until the bug fix is in the main source code is also welcome

[2022-03-25 17:48] Dilks44 opened #165 "Demo / Docs Website Changelog not Updating!"
It seems as if this website content is no longer tracking the changelog file in this repo.
Website - http://reactdesktop.js.org/docs/CHANGELOG
file - https://github.com/gabrielbull/react-desktop/blob/master/CHANGELOG.md

When I click "Edit Page" on the website I am linked to "https://github.com/gabrielbull/react-desktop/edit/master/docs/CHANGELOG.md" which throws a 404.

[2022-06-21 17:28] langyo commented on #165
The website itself has not been updated much since 2018...

Currently this project is no longer actively maintained, so there is no one to take care of the website.

If you have time, you can submit a merge request to update the changelog. :P

[2022-06-21 17:28] #165 closed, assigned to nobody

[2022-07-09 14:02] Dilks44 commented on #165
Ah you are right, forgot to check the date. Also just noticed that this repo doesn't contain the website content, so I may not be able to fix that after all. Unless the author decides to open source that as well.

[2022-07-11 12:59] gabrielbull commented on #165
@Dilks44 It's on the `gh-pages` branch.

[2022-07-16 03:35] neopunisher commented on #47
Ubuntu??

[2022-08-03 19:37] dzpt opened #166 "Can't use along with electron-react-boilerplate?"
I've tried to install along with [electron-react-boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate) then got this error

[code]